.table-header > *:nth-child(1){
    padding-left: 1.2rem;
}
.card{
    padding: 0.2rem !important;
}
.card-body{

    padding:0px !important;
    /* padding: 0.5rem; */
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}
.btns{
    display: flex;
    align-items: center;
    gap:0.1rem;
    justify-content: space-between;
}
.btn-add-students{
    font-size:0.7rem !important
}
.card-students{
    speak: literal-punctuation;
}
.student-profile-image{
    width:2rem !important;
    height: 2rem !important;
    background-color: red;
}
